<!DOCTYPE html >
<html >
  <title>
    BuildingGreen-Continuing Education
  </title>
<head >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="alternate" type="application/rss+xml" title="BuildingGreen RSS" href="https://www.buildinggreen.com/rss.xml" />
<link rel="shortcut icon" href="https://www.buildinggreen.com/sites/default/files/favicon_2.ico" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" href="one.css"/>
<link rel="stylesheet" href="two.css"/>
<link rel="stylesheet" href="three.css"/>
<link rel="stylesheet" href="four.css"/>
<link rel="stylesheet" href="five.css"/>
<link rel="stylesheet" href="six.css"/>
<link rel="stylesheet" href="https://use.typekit.net/tfo1vjd.css">
  <link rel="stylesheet" href="/sites/all/libraries/bg-icons/css/bg-icons.css">
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-second page-node page-node- page-node-16166 node-type-page domain-www-buildinggreen-com i18n-en"   data-ng-app="bgApp">
<div id="skip-link">
  <a href="#" class="element-invisible element-focusable">Skip to main content</a>
</div>
<div class="modal fade" id="login-modal" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="modalLoginLabel">Log in</h4>
    </div>
    <div class="modal-body">
         <div class="progress" style="display:none;">
             
                 <div class="progress-bar progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                   Loading...
                 </div>
              </div>
                  <div class="login-form" data-ng-show="!show_request_password_form">
            <form action="/about" method="post" id="user-login" accept-charset="UTF-8"><div><div class="form-item form-item-name form-type-emailfield form-group"> <label class="control-label" for="edit-name">Username or e-mail address <span class="form-required" title="This field is required.">*</span></label>
<input class="form-control form-text form-email required" type="email" id="edit-name" name="name" value="" size="60" maxlength="60" /><div class="help-block">You may login with either your assigned username or your e-mail address.</div></div><div class="form-item form-item-pass form-type-password form-group"> <label class="control-label" for="edit-pass">Password <span class="form-required" title="This field is required.">*</span></label>
<input class="form-control form-text required" type="password" id="edit-pass" name="pass" size="60" maxlength="128" /><div class="help-block">The password field is case sensitive.</div></div><input type="hidden" name="form_build_id" value="form-ltqgJ4twRS58klcnuzN3iFe2qFZ4Zx5Iew42Hbnoc8Q" />
<input type="hidden" name="form_id" value="user_login" />
<div class="form-actions form-wrapper form-group" id="edit-actions--5"><button type="submit" id="edit-submit--5" name="op" value="Log in" class="btn btn-primary form-submit icon-before"><span class="icon glyphicon glyphicon-log-in" aria-hidden="true"></span>
Log in</button>
</div></div></form>      		<p class="margin-top">
                <a href="" data-ng-click="show_request_password_form = true">Forgot password?</a>
            </p>
        </div>
        <div class="request-password-form" data-ng-show="show_request_password_form">
            <form action="/about" method="post" id="user-pass" accept-charset="UTF-8"><div><div class="form-item form-item-name form-type-textfield form-group"> <label class="control-label" for="edit-name--2">E-mail <span class="form-required" title="This field is required.">*</span></label>
<input class="form-control form-text required" type="text" id="edit-name--2" name="name" value="" size="60" maxlength="254" /></div><input type="hidden" name="form_build_id" value="form-uFTNv0ePa6dzJkLsXmLTe3wBeeLtJ3tTkJt0FDTskWM" />
<input type="hidden" name="form_id" value="user_pass" />
<div class="form-actions form-wrapper form-group" id="edit-actions--6"><button type="submit" id="edit-submit--6" name="op" value="E-mail new password" class="btn btn-default form-submit">E-mail new password</button>
</div></div></form>      		<a href="" data-ng-click="show_request_password_form = false">Log in</a>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div> 

<div class="modal fade" id="group-link-modal" role="dialog" aria-labelledby="modalGroupLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="modalGroupLabel">Firm or campus member?</h4>
    </div>
    <div class="modal-body">       
                   Please log in using your personal profile:<br>
             <a class="margin-top btn btn-neutral" href="#" data-toggle="modal" data-target="#login-modal" data-dismiss="modal">Log in &raquo;</a>
            &nbsp; <a class="margin-top btn btn-warning" href="/create-profile?destination=node/16166">Create personal profile &raquo;</a>
              </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="feedback-modal" role="dialog" aria-labelledby="modalFeedbackLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="modalFeedbackLabel">How can we serve you better?</h4>
    </div>
    <div class="modal-body">       
      <form class="sans-serif" action="/about" method="post" id="bg-content-feedback-form" accept-charset="UTF-8"><div><div class="form-item form-item-email form-type-emailfield form-group"> <label class="control-label" for="edit-email">Email <span class="form-required" title="This field is required.">*</span></label>
<input placeholder="Enter your email address" class="form-control form-text form-email required" type="email" id="edit-email" name="email" value="" size="60" maxlength="128" /></div><div class="form-item form-item-message form-type-textarea form-group"> <label class="control-label" for="edit-message">Message <span class="form-required" title="This field is required.">*</span></label>
<div class="form-textarea-wrapper resizable"><textarea placeholder="Enter your feedback here" class="form-control form-textarea required" id="edit-message" name="message" cols="60" rows="5"></textarea></div></div><input type="hidden" name="uri" value="https://www.buildinggreen.com/about" />
<input type="hidden" name="quiz_question" value="" />
<div class="captcha"><input type="hidden" name="captcha_sid" value="61348601" />
<input type="hidden" name="captcha_token" value="f3a1b0114a41141627e927f25ef26770" />
<input type="hidden" name="captcha_response" value="Google no captcha" />
<div class="g-recaptcha" data-sitekey="6Lfjzl0UAAAAAASqaaLuzYDjz14l8VNCr2AG7NSQ" data-theme="light" data-type="image"></div></div><button class="btn-success btn-lg btn form-submit" type="submit" id="edit-submit--7" name="op" value="Submit &amp;raquo;">Submit &raquo;</button>
<input type="hidden" name="form_build_id" value="form-ZHzgkCbVI-q0gvIJuhoBuwRgde3CFlYmZoBvpJIM4Ao" />
<input type="hidden" name="form_id" value="bg_content_feedback_form" />
</div></form>      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>


<div id="desktop-header">
  <div id="login-bar" data-ng-controller="loginCtrl" class="hidden-xs">
      <nav class="navbar navbar-inverse">
            <div style="padding-left: 10px;">
                                  <span class="navbar-left hidden-xs hidden-sm hidden-md"><a style="padding-left: 0; font-weight: 300;" href="#">Go to LEEDuser.com</a></span>
              
                <ul class="nav navbar-nav navbar-right">
                  
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Webinars</a></li>
                  <li><a href="#">Exam Prep</a></li>
                  <li><a href="#">Reports</a></li>
                  <li><a href="#">Manufacturers</a></li>
                  <li><a href="#">Archive</a></li>
                  <li><a href="#">FAQ</a></li>
              <li class="login"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                          
              </ul>    
            </div>
      </nav>
  </div>

  <header class="logo hidden-xs">
      <div class="container-fluid" style="position: relative;">
          <a href="/"><img src="pic/bg-logo_web-large.png"></a>
                  </div>
  </header>
</div>
<div class="solid-menus" id="solidMenus" style="padding: 0;">

  <nav class="navbar navbar-default navbar-static-top no-border-radius navbar-hover">

      <div class="container-fluid" id="navbar-inner-container">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle navbar-toggle-right collapsed" data-toggle="collapse" data-target="#solidMenu">
            <span>MENU</span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>

          <a class="navbar-brand visible-xs-block" href="/"><img src="/sites/default/files/logos/bg-reverse_web.png" style="height: 40px; margin-top: -5px; padding-bottom: 3px" /></a>

        </div>

        <div class="visible-xs mt10">
<form class="form-search content-search" action="/" method="post" id="search-block-form--3" accept-charset="UTF-8"><div><div>
<h2 class="element-invisible">Search form</h2>
<div class="input-group"><input title="Enter the terms you wish to search for." placeholder="Search" class="form-control form-text" type="text" id="edit-search-block-form--6" name="search_block_form" value="" size="15" maxlength="128" /><span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
</button></span></div><div class="form-actions form-wrapper form-group" id="edit-actions--3"><button class="element-invisible btn btn-primary form-submit" type="submit" id="edit-submit--3" name="op" value="Search">Search</button>
</div><input type="hidden" name="form_build_id" value="form-umJjL0ziR18bf4v3FBazFw0fkhIQ9TxRlml05JK6C8w" />
<input type="hidden" name="form_id" value="search_block_form" />
</div>
</div></form>            </div>


<div class="collapse navbar-collapse" id="solidMenu">

<ul class="nav navbar-nav">

<li><a href="index.html">Home</a></li>

<li class="visible-xs"><a href="#">KNOWLEDGE BASE</a></li>

<li class="dropdown dropdown-full-width-g hidden-xs" data-animation="fadeIn"> 

  <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#" data-title="Knowledge base" id="kbtoggle">Knowledge base <span class="caret"></span></a>
    <div class="dropdown-menu mega no-border-radius">

    <div class="row">
      <div class="col-sm-12">
        <p class="bb-2px" style="border-bottom: none; margin-bottom: 0;"><strong><a style="background-color: white; padding: 3px 10px; display: block;" href="#">Browse all Knowledge Base topics&nbsp;&raquo;</a></strong></p>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6 col-md-4">

          <h5 class="bb-2px"><strong>Sustainable Materials</strong></h5>
          <ul>

            <li>
              <a href="#">Material Selection</a>
            </li>
            <li>
              <a href="#">Material Transparency</a>
            </li>
            <li>
              <a href="#">Material Health</a>
            </li>
            <li>
              <a href="#">Embodied Carbon</a>
            </li>
            <li>
              <a href="#">Waste Management</a>
            </li>
            <li>
              <a href="#">Product Reviews</a>
            </li>

          </ul>

      </div>
                  <div class="col-sm-6 col-md-4">

                    <h5 class="bb-2px"><strong>Design Strategies</strong></h5>
                    <ul>

                      <li>
                        <a href="#">Resilient Design</a>
                      </li>
                      <li>
                        <a href="#">Electrification &amp; Decarbonization</a>
                      </li>
                      <li>
                        <a href="#">Comfort</a>
                      </li>
                      <li>
                        <a href="#">Wellness in Buildings</a>
                      </li>
                      <li>
                        <a href="#">Life-Cycle Assessment</a>
                      </li>
                      <li>
                        <a href="#">Net-Zero Energy &amp; Renewables</a>
                      </li>
                      <li>
                        <a href="#">Biophilic Design</a>
                      </li>

                    </ul>

                </div>
                <div class="col-sm-6 col-md-4">

                    <h5 class="bb-2px"><strong>Building Science</strong></h5>
                    <ul>

                      <li>
                        <a href="#">Site Assessment &amp; Design</a>
                      </li>
                      <li>
                        <a href="#">Performance Modeling</a>
                      </li>
                      <li>
                        <a href="#">Building Envelope</a>
                      </li>
                      <li>
                        <a href="#">Moisture Management</a>
                      </li>
                      <li>
                        <a href="#">Energy Efficiency</a>
                      </li>
                      <li>
                        <a href="#">Water Efficiency</a>
                      </li>
                      <li>
                        <a href="#">Indoor Air Quality</a>
                      </li>
                      <li>
                        <a href="#">Heating &amp; Cooling</a>
                      </li>
                      <li>
                        <a href="#">Lighting Design &amp; Daylighting</a>
                      </li>
                      <li>
                        <a href="#">Software Tools for Architects</a>
                      </li>

                    </ul>

                </div>
                <div class="col-sm-6 col-md-4">

                    <h5 class="bb-2px"><strong>Buildings &amp; Project Types</strong></h5>
                    <ul>

                      <li>
                        <a href="#">Case Studies</a>
                      </li>
                      <li>
                        <a href="#">Existing Buildings</a>
                      </li>
                      <li>
                        <a href="#">Sustainable Communities</a>
                      </li>
                      <li>
                        <a href="#">Operations &amp; Maintenance</a>
                      </li>

                    </ul>

                </div>
                <div class="col-sm-6 col-md-4">

                    <h5 class="bb-2px"><strong>Design Process</strong></h5>
                    <ul>

                      <li>
                        <a href="#">Integrative Process</a>
                      </li>
                      <li>
                        <a href="#">The Big Picture</a>
                      </li>
                      <li>
                        <a href="#">Social Equity</a>
                      </li>
                      <li>
                        <a href="#">Post-Occupancy</a>
                      </li>
                      <li>
                        <a href="#">Green Building Education</a>
                      </li>

                    </ul>

                </div>
                <div class="col-sm-6 col-md-4">

                    <h5 class="bb-2px"><strong>Codes &amp; Certifications</strong></h5>
                    <ul>

                      <li>
                        <a href="#">Policies &amp; Programs</a>
                      </li>
                      <li>
                        <a href="#">Living Building Challenge</a>
                      </li>
                      <li>
                        <a href="#">LEED</a>
                      </li>
                      <li>
                        <a href="#">WELL &amp; Fitwel</a>
                      </li>
                      <li>
                        <a href="#">Codes</a>
                      </li>
                      <li>
                        <a href="#">Other Ratings &amp; Standards</a>
                      </li>

                    </ul>

                </div>

              </div>

            </div>

          </li>

          <li><a href="about.html">About us</a></li>

          <li><a href="pdt.html">Product guidance</a></li>

          <li><a href="edu.html">Continuing education</a></li>

          <li><a href="#">Peer Networks</a></li>

          <li role="separator" class="divider visible-xs"></li>

          <li class="visible-xs"><a href="#">Pricing</a></li>

          <li class="visible-xs"><a href="#">Membership</a></li>

          <li class="visible-xs"><a href="#">Webinars</a></li>

          <li class="visible-xs"><a href="#">Exam Prep</a></li>

          <li class="visible-xs"><a href="#">Reports</a></li>

          <li class="visible-xs"><a href="#">Manufacturers</a></li>

          <li class="visible-xs"><a href="#">Archive</a></li>

          <li class="visible-xs"><a href="#">FAQs</a></li>

          
                          <li class="visible-xs">
              <a data-target="#login-modal" data-toggle="modal" href="#"><strong>LOGIN</strong></a>
            </li>
          
        </ul>

        <ul class="nav navbar-nav navbar-right hidden-xs">

            <li id="nav-search" class="dropdown p-static margin-right-2 margin-0-sm" data-animation="fadeIn">

              <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#" data-title="Search"><span class="visible-xs-inline-block visible-md-inline-block visible-lg-inline-block visible-xl-inline-block pr10">Search </span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></a>

               
              </div>

            </li>

          </ul>

      </div>

    </div>

</nav>

</div>
<div class="outer-container">
<div class="outer">
<div class="main-container container-fluid">

<header role="banner" id="page-header">
  
        
</header> 

<div class="row">
      <section class="col-sm-8 col-lg-9">
                <a id="main-content"></a>
      
                                                  <div class="region region-content">
  <section id="block-system-main" class="block block-system clearfix">

    
<article id="node-16166" class="node node-page clearfix" about="/about" typeof="foaf:Document">
  <header>
      
  <h1>About BuildingGreen, Inc.</h1>
      <span property="dc:title" content="About BuildingGreen, Inc." class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>      </header>
          <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="font-size-large sans-serif line-snug"><em>BuildingGreen helps architects, designers and other sustainability professionals make their projects greener and healthier.</em></p>
<p>Since 1985, BuildingGreen has been the trusted source on healthy and sustainable design and construction strategies. We support building professionals with membership websites here at BuildingGreen.com and at <a href="#">LEEDuser.com</a>, and with customized <a href="#">consulting and training services</a>.</p>
<p>BuildingGreen supports and facilitates <a href="#">peer networks for sustainability leaders</a>, creating a safe space for open sharing; a space in which everyone’s voice is heard and participants set the agenda for Summits and other engagement opportunities.</p>
<p>Our focus is on helping you design and build from a whole-systems perspective. We support teams that use an integrative process that reduces ecological impact—or even provides regenerative support for ecosystems—and that maximizes return on investment, both financially and in benefits to occupants.</p>
<p>Our publishing work is not supported by advertising, so our sole focus is on you, the reader. It’s no wonder that Mara Baum, Healthcare Sustainable Design Leader at HOK, says, <em>“I’ve relied on BuildingGreen for over a decade— it’s one of the most reputable sources for cutting-edge green building news and product research.”</em></p>
<h2>How we got started</h2>
<p>In 1985, Alex Wilson saw the need for a company that would translate technical information on energy efficiency and other environmental topics to the public and to building professionals.</p>
<p>Working at first out of a timber-framed barn in Vermont, Alex later brought on Nadav Malin and together they launched <em>Environmental Building News</em>. Predating the U.S. Green Building Council by one year and LEED by several, <em>EBN</em> became the bible of the emerging green building movement, quickly finding subscribers in all 50 states and around the globe.</p>
<p>From the beginning, BuildingGreen turned down advertising and sponsorships in its publications, maintaining its exclusive focus on providing unbiased, trustworthy information and guidance to its customers. In Alex’s words, “We wanted to be able to say whatever we wanted about particular products and technologies” without interference.</p>
<p>In 1997, BuildingGreen expanded a niche of its newsletter a full-fledged product screening service, GreenSpec, which continues to set a stringent bar for health and sustainability in products today as <a href="#">BuildingGreen Approved</a>. As the company grew through the 2000s, it added expertise in building science, process facilitation, and LEED. Experts at the now 15-person firm continuously stayed abreast of the rapidly evolving products and materials field, which veered from a near-crisis during a glut of certifications in the late 2000s to the turmoil of transparency data and formats in recent years.</p>
<p>BuildingGreen’s publications now reach over 20,000 readers annually, including students and professionals at over 200 architectural firms and campuses. All along, BuildingGreen has continued to serve firms, nonprofits, government agencies, and others who need <a href="#">customized consulting services</a>. BuildingGreen’s hands-on, practical work on individual buildings and major projects informs the incisive insights it offers its members, and its expertise in putting actionable intelligence in the hands of professionals informs the advice it gives individual clients.</p>
<h2>A mission-driven company</h2>
<p>Our purpose is to foster a thriving and equitable world through a regenerative  and resilient built environment.</p>
<p>To this end, BuildingGreen facilitates collaboration, learning, and trust to accelerate the transformation of the building industry into a force for positive change.</p>
<p><a class="btn btn-neutral btn-wrap btn-lg" href="#">Request a demo to find out how BuildingGreen can support you »</a></p>
<h2>Recommendations</h2>
<p>We asked some of our customers why they would recommend BuildingGreen to a colleague. Here’s what they said:</p>
<blockquote><p>BuildingGreen has a long track record as a reputable, technically sound resource, which is not always the case for references that come to the top of a Google search. There are some sources that just look at economics, and some laud sustainable products that may be entirely impractical or have a huge carbon footprint hidden in their manufacture. I look to BuildingGreen to take an informed, scientific approach that looks at the cost-benefit analysis relative to sustainability, durability, health, energy use, and more.</p>
<p><em>— Lauren Ford, AIA, Associate Principal, Cooper Carry</em></p></blockquote>
<blockquote><p>We have known the experts at BuildingGreen and for decades they have been a trusted source of detailed product information without commercial bias. They are smart and explore subjects with integrity. They are an excellent source of the latest information about innovations and breakthroughs as well as tried-and-true high-performance methods and products.</p>
<p><em>— Phaedra Svec, Associate, BNIM Architects</em></p></blockquote>
<blockquote><p>“Our trusted independent third-party resource. The ‘Consumer Reports’ of green building.</p>
<p><em>— Ilana Judah, AIA, Principal, Director of Sustainability, FXFOWLE</em></p></blockquote>
<h2>BuildingGreen’s expertise has been featured in:</h2>
<p class="hidden-xs"><img alt="Impressive list of media outlets" class="img-responsive margin-top-x" src="pic/media-logos.png" /></p>
<h2 style="margin-bottom: 14.6667px;">Contact Us</h2>
<p>Whether you have a question on green building, are with the media, or might need our services, we'd love to hear from you! <a href="#">Contact us via this form</a>—it is our goal to respond to inquiries within one business day.</p>
<h2>Job Opportunities</h2>
<p><a href="#">View current job opportunities at BuildingGreen</a>.</p>
<h2>Privacy Policy</h2>
<p>You can read BuildingGreen’s <a href="#">privacy policy here</a>.</p>
</div></div></div>        <footer>
      
</footer>
  
  
        
</article>

</section>
</div>
  </section>

        <aside class="col-sm-4 col-lg-3" role="complementary">
        <div class="region region-sidebar-second">
  <section id="block-fieldblock-node-page-default-field-secondary-sideblock" class="block block-fieldblock clearfix">

    
<div class="field field-name-field-secondary-sideblock field-type-text-long field-label-hidden"><div class="field-items"><div class="field-item even"><div class="well"><a href="#" target="_blank"><img class="img-responsive hidden-xs" src="pic/2018-B-Corp-wTag-Black_732.png" /><img class="b-corp visible-xs" src="/sites/default/files/bcorp/2018-B-Corp-wTag-Black_732.png" /></a> <a target="_blank" class="btn btn-default btn-small btn-wrap mt05" href="/sites/default/files/BuildingGreen_2020_Benefit_Report.pdf">Read our benefit report&nbsp;»</a></div>

<div class="team">
<h4>Our team</h4>

<p><strong><a href="#">Alex Wilson</a></strong><br />
Founder</p>

<p><strong><a href="#">Jerelyn Wilson</a></strong><br />
CEO &amp; Outreach Ambassador</p>

<p><strong><a href="#">Nadav Malin</a></strong><br />
President</p>

<p><strong><a href="#">Paula Melton</a></strong><br />
Editorial Director</p>

<p><strong><a href="#">Brent Ehrlich</a></strong><br />
Products &amp; Materials Specialist</p>

<p><a href="#"><strong>Angela Battisto</strong></a><br />
Operations Director</p>

<p><a href="#"><strong>Ben Hewitt</strong></a><br />
Web Developer</p>

<p><a href="#"><strong>Andrea Lemon</strong></a><br />
Design Director</p>

<p><a href="#"><strong>Sarah Rice</strong></a><br />
Accounting and Office Manager, Human Resources Director</p>

<p><a href="#"><strong>Charlotte Snyder</strong></a><br />
Customer Support Manager</p>

<p><strong><a href="#">RoseAnn Grimes</a></strong><br />
Peer Networks&nbsp;Manager</p>

<p><strong><a href="#">Jennifer Zakrzewski</a></strong><br />
Administrative Assistant</p>

<p><strong><a href="#">Emma Recchi</a></strong><br />
Marketing and Continuing Education Manager</p>

<p><a href="#"><strong>Candace Pearson</strong></a><br />
Senior Research Analyst</p>
<a class="btn btn-neutral" href="#">Meet our advisory board&nbsp;»</a></div>

<div class="well mt10">
<h4>Board of Directors</h4>

<p><strong>Jerelyn Wilson</strong>, President*<br />
<strong>Nadav Malin</strong>, Vice President and Treasurer*<br />
<strong>Candace Pearson</strong>, Secretary<br />
<strong>Alex Wilson</strong>*<br />
<strong>Janice Warren</strong>,&nbsp;Benefits Director</p>

<p class="mt0 small">* <em>Indicates shareholder. All shareholders are board members.</em></p>
</div>
</div></div></div>
</section>
</div>
    </aside>  
  
</div>

</div>

</div>
<footer class="footer container-fluid">
  <div class="region region-footer">
  <section id="block-bg-content-bg-footer-block" class="block block-bg-content clearfix">

    
<div class="row">
  <div class="col-sm-8">

      <a href="#" target="_blank"><img src="pic/2018-B-Corp-Logo_150h.png" class="img-responsive pull-left hidden-xs pr30 mb10 mt05" style=
      "max-height: 75px;"></a>

      <div style="overflow: hidden;">
          <ul class="list-inline" style="margin-left: 0;">
                              <li><a href="#">Contact us</a></li>
              <li><a href="#">LEEDuser</a></li>
              <li><a href="#">Jobs at BuildingGreen</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Change Cookie Settings</a></li>
          </ul>

          <p class="small">&copy; 2021 BuildingGreen, Inc. All rights reserved except where noted.</p>
      </div>
  </div>

  
  </div>
</div>

</section>
</div>
</footer>

<script src="https://www.buildinggreen.com/sites/default/files/js/js_7Ukqb3ierdBEL0eowfOKzTkNu-Le97OPm-UqTS5NENU.js"></script>
<script>window.euCookieComplianceLoadScripts = function(category) {var scriptTag = document.createElement("script");scriptTag.src = "https:\/\/www.buildinggreen.com\/sites\/default\/files\/google_tag\/google_tag.script.js";document.body.appendChild(scriptTag);}</script>
<script>window.eu_cookie_compliance_cookie_name = "";</script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_lcej-wnhkuKN7X2sAkXYDMoQiGnYWSLvXW93M0RAg4Y.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_MRdvkC2u4oGsp5wVxBG1pGV5NrCPW3mssHxIn6G9tGE.js"></script>
<img style="display: none;" src="/sites/all/themes/bg_boot/images/bg-logo_web-large.png">
<img style="display: none;" src="/sites/all/themes/bg_boot/images/bg-logo_square.png">
<script src="https://www.buildinggreen.com/sites/default/files/js/js_6_RPYL29Mx0EM31uRa4YYb0NF6Q7ZUG5yilzj24wLIk.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_VMWxpc_nIy5RQtsXIrqDL5I07fRIZu58KOlJz00LP5g.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_jbbNve4SeW8ouHVrUGHWp0dWMH3-Hlgksay5UPMsoTw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
<script>document.createElement( "picture" );</script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_lPy2_qEqwt0I2T3fFf2fUqc1_adWz9EVkvo416w3yjQ.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_PdhWNvWVThQ6mgDwBbGZbYWiOirdOM9lyc-p829KT-Y.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_EmnVyaC7gQAjwydxYokClZ7LMgseWZfybDGktWCZ3Xw.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js__JuFmti1OZYyBBidIUJvoDOZg81ze1_8XkKpzZ5SPsY.js"></script>
</body>
</html>
