<!DOCTYPE html >
<html >
  <title>
    BuildingGreen-Continuing Education
  </title>
<head >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="alternate" type="application/rss+xml" title="BuildingGreen RSS" href="https://www.buildinggreen.com/rss.xml" />
<link rel="shortcut icon" href="https://www.buildinggreen.com/sites/default/files/favicon_2.ico" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" href="one.css"/>
<link rel="stylesheet" href="two.css"/>
<link rel="stylesheet" href="three.css"/>
<link rel="stylesheet" href="four.css"/>
<link rel="stylesheet" href="five.css"/>
<link rel="stylesheet" href="six.css"/>
<link rel="stylesheet" href="https://use.typekit.net/tfo1vjd.css">
  <link rel="stylesheet" href="/sites/all/libraries/bg-icons/css/bg-icons.css">
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-second page-node page-node- page-node-16166 node-type-page domain-www-buildinggreen-com i18n-en"   data-ng-app="bgApp">
<div id="skip-link">
  <a href="#" class="element-invisible element-focusable">Skip to main content</a>
</div>
<div class="modal fade" id="login-modal" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="modalLoginLabel">Log in</h4>
    </div>
    <div class="modal-body">
         <div class="progress" style="display:none;">
             
                 <div class="progress-bar progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                   Loading...
                 </div>
              </div>
                  <div class="login-form" data-ng-show="!show_request_password_form">
            <form action="/about" method="post" id="user-login" accept-charset="UTF-8"><div><div class="form-item form-item-name form-type-emailfield form-group"> <label class="control-label" for="edit-name">Username or e-mail address <span class="form-required" title="This field is required.">*</span></label>
<input class="form-control form-text form-email required" type="email" id="edit-name" name="name" value="" size="60" maxlength="60" /><div class="help-block">You may login with either your assigned username or your e-mail address.</div></div><div class="form-item form-item-pass form-type-password form-group"> <label class="control-label" for="edit-pass">Password <span class="form-required" title="This field is required.">*</span></label>
<input class="form-control form-text required" type="password" id="edit-pass" name="pass" size="60" maxlength="128" /><div class="help-block">The password field is case sensitive.</div></div><input type="hidden" name="form_build_id" value="form-ltqgJ4twRS58klcnuzN3iFe2qFZ4Zx5Iew42Hbnoc8Q" />
<input type="hidden" name="form_id" value="user_login" />
<div class="form-actions form-wrapper form-group" id="edit-actions--5"><button type="submit" id="edit-submit--5" name="op" value="Log in" class="btn btn-primary form-submit icon-before"><span class="icon glyphicon glyphicon-log-in" aria-hidden="true"></span>
Log in</button>
</div></div></form>      		<p class="margin-top">
                <a href="" data-ng-click="show_request_password_form = true">Forgot password?</a>
            </p>
        </div>
        <div class="request-password-form" data-ng-show="show_request_password_form">
            <form action="/about" method="post" id="user-pass" accept-charset="UTF-8"><div><div class="form-item form-item-name form-type-textfield form-group"> <label class="control-label" for="edit-name--2">E-mail <span class="form-required" title="This field is required.">*</span></label>
<input class="form-control form-text required" type="text" id="edit-name--2" name="name" value="" size="60" maxlength="254" /></div><input type="hidden" name="form_build_id" value="form-uFTNv0ePa6dzJkLsXmLTe3wBeeLtJ3tTkJt0FDTskWM" />
<input type="hidden" name="form_id" value="user_pass" />
<div class="form-actions form-wrapper form-group" id="edit-actions--6"><button type="submit" id="edit-submit--6" name="op" value="E-mail new password" class="btn btn-default form-submit">E-mail new password</button>
</div></div></form>      		<a href="" data-ng-click="show_request_password_form = false">Log in</a>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div> 

<div class="modal fade" id="group-link-modal" role="dialog" aria-labelledby="modalGroupLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="modalGroupLabel">Firm or campus member?</h4>
    </div>
    <div class="modal-body">       
                   Please log in using your personal profile:<br>
             <a class="margin-top btn btn-neutral" href="#" data-toggle="modal" data-target="#login-modal" data-dismiss="modal">Log in &raquo;</a>
            &nbsp; <a class="margin-top btn btn-warning" href="#">Create personal profile &raquo;</a>
              </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="feedback-modal" role="dialog" aria-labelledby="modalFeedbackLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="modalFeedbackLabel">How can we serve you better?</h4>
    </div>
    <div class="modal-body">       
      <form class="sans-serif" action="/about" method="post" id="bg-content-feedback-form" accept-charset="UTF-8"><div><div class="form-item form-item-email form-type-emailfield form-group"> <label class="control-label" for="edit-email">Email <span class="form-required" title="This field is required.">*</span></label>
<input placeholder="Enter your email address" class="form-control form-text form-email required" type="email" id="edit-email" name="email" value="" size="60" maxlength="128" /></div><div class="form-item form-item-message form-type-textarea form-group"> <label class="control-label" for="edit-message">Message <span class="form-required" title="This field is required.">*</span></label>
<div class="form-textarea-wrapper resizable"><textarea placeholder="Enter your feedback here" class="form-control form-textarea required" id="edit-message" name="message" cols="60" rows="5"></textarea></div></div><input type="hidden" name="uri" value="https://www.buildinggreen.com/about" />
<input type="hidden" name="quiz_question" value="" />
<div class="captcha"><input type="hidden" name="captcha_sid" value="61348601" />
<input type="hidden" name="captcha_token" value="f3a1b0114a41141627e927f25ef26770" />
<input type="hidden" name="captcha_response" value="Google no captcha" />
<div class="g-recaptcha" data-sitekey="6Lfjzl0UAAAAAASqaaLuzYDjz14l8VNCr2AG7NSQ" data-theme="light" data-type="image"></div></div><button class="btn-success btn-lg btn form-submit" type="submit" id="edit-submit--7" name="op" value="Submit &amp;raquo;">Submit &raquo;</button>
<input type="hidden" name="form_build_id" value="form-ZHzgkCbVI-q0gvIJuhoBuwRgde3CFlYmZoBvpJIM4Ao" />
<input type="hidden" name="form_id" value="bg_content_feedback_form" />
</div></form>      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>


<div id="desktop-header">
  <div id="login-bar" data-ng-controller="loginCtrl" class="hidden-xs">
      <nav class="navbar navbar-inverse">
            <div style="padding-left: 10px;">
                                  <span class="navbar-left hidden-xs hidden-sm hidden-md"><a style="padding-left: 0; font-weight: 300;" href="#">Go to LEEDuser.com</a></span>
              
                <ul class="nav navbar-nav navbar-right">
                  
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Webinars</a></li>
                  <li><a href="#">Exam Prep</a></li>
                  <li><a href="#">Reports</a></li>
                  <li><a href="#">Manufacturers</a></li>
                  <li><a href="#">Archive</a></li>
                  <li><a href="#">FAQ</a></li>
              <li class="login"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                          
              </ul>    
            </div>
      </nav>
  </div>

  <header class="logo hidden-xs">
      <div class="container-fluid" style="position: relative;">
          <img src="pic/bg-logo_web-large.png">
                  </div>
  </header>
</div>
<div class="solid-menus" id="solidMenus" style="padding: 0;">

  <nav class="navbar navbar-default navbar-static-top no-border-radius navbar-hover">

      <div class="container-fluid" id="navbar-inner-container">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle navbar-toggle-right collapsed" data-toggle="collapse" data-target="#solidMenu">
            <span>MENU</span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>

          <a class="navbar-brand visible-xs-block" href="#"><img src="pic/bg-reverse_web.png" style="height: 40px; margin-top: -5px; padding-bottom: 3px" /></a>

        </div>

        <div class="visible-xs mt10">
<form class="form-search content-search" action="/" method="post" id="search-block-form--3" accept-charset="UTF-8"><div><div>
<h2 class="element-invisible">Search form</h2>
<div class="input-group"><input title="Enter the terms you wish to search for." placeholder="Search" class="form-control form-text" type="text" id="edit-search-block-form--6" name="search_block_form" value="" size="15" maxlength="128" /><span class="input-group-btn"><button type="submit" class="btn btn-primary"><span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
</button></span></div><div class="form-actions form-wrapper form-group" id="edit-actions--3"><button class="element-invisible btn btn-primary form-submit" type="submit" id="edit-submit--3" name="op" value="Search">Search</button>
</div><input type="hidden" name="form_build_id" value="form-umJjL0ziR18bf4v3FBazFw0fkhIQ9TxRlml05JK6C8w" />
<input type="hidden" name="form_id" value="search_block_form" />
</div>
</div></form>            </div>


<div class="collapse navbar-collapse" id="solidMenu">

<ul class="nav navbar-nav">

<li><a href="index.html">Home</a></li>

<li class="visible-xs"><a href="#">KNOWLEDGE BASE</a></li>

<li class="dropdown dropdown-full-width-g hidden-xs" data-animation="fadeIn"> 

  <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#" data-title="Knowledge base" id="kbtoggle">Knowledge base <span class="caret"></span></a>
    <div class="dropdown-menu mega no-border-radius">

    <div class="row">
      <div class="col-sm-12">
        <p class="bb-2px" style="border-bottom: none; margin-bottom: 0;"><strong><a style="background-color: white; padding: 3px 10px; display: block;" href="#">Browse all Knowledge Base topics&nbsp;&raquo;</a></strong></p>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6 col-md-4">

          <h5 class="bb-2px"><strong>Sustainable Materials</strong></h5>
          <ul>

            <li>
              <a href="#">Material Selection</a>
            </li>
            <li>
              <a href="#">Material Transparency</a>
            </li>
            <li>
              <a href="#">Material Health</a>
            </li>
            <li>
              <a href="#">Embodied Carbon</a>
            </li>
            <li>
              <a href="#">Waste Management</a>
            </li>
            <li>
              <a href="#">Product Reviews</a>
            </li>

          </ul>

      </div>
                  <div class="col-sm-6 col-md-4">

                    <h5 class="bb-2px"><strong>Design Strategies</strong></h5>
                    <ul>

                      <li>
                        <a href="#">Resilient Design</a>
                      </li>
                      <li>
                        <a href="#">Electrification &amp; Decarbonization</a>
                      </li>
                      <li>
                        <a href="#">Comfort</a>
                      </li>
                      <li>
                        <a href="#">Wellness in Buildings</a>
                      </li>
                      <li>
                        <a href="#">Life-Cycle Assessment</a>
                      </li>
                      <li>
                        <a href="#">Net-Zero Energy &amp; Renewables</a>
                      </li>
                      <li>
                        <a href="#">Biophilic Design</a>
                      </li>

                    </ul>

                </div>
                <div class="col-sm-6 col-md-4">

                    <h5 class="bb-2px"><strong>Building Science</strong></h5>
                    <ul>

                      <li>
                        <a href="#">Site Assessment &amp; Design</a>
                      </li>
                      <li>
                        <a href="#">Performance Modeling</a>
                      </li>
                      <li>
                        <a href="#">Building Envelope</a>
                      </li>
                      <li>
                        <a href="#">Moisture Management</a>
                      </li>
                      <li>
                        <a href="#">Energy Efficiency</a>
                      </li>
                      <li>
                        <a href="#">Water Efficiency</a>
                      </li>
                      <li>
                        <a href="#">Indoor Air Quality</a>
                      </li>
                      <li>
                        <a href="#">Heating &amp; Cooling</a>
                      </li>
                      <li>
                        <a href="#">Lighting Design &amp; Daylighting</a>
                      </li>
                      <li>
                        <a href="#">Software Tools for Architects</a>
                      </li>

                    </ul>

                </div>
                <div class="col-sm-6 col-md-4">

                    <h5 class="bb-2px"><strong>Buildings &amp; Project Types</strong></h5>
                    <ul>

                      <li>
                        <a href="#">Case Studies</a>
                      </li>
                      <li>
                        <a href="#">Existing Buildings</a>
                      </li>
                      <li>
                        <a href="#">Sustainable Communities</a>
                      </li>
                      <li>
                        <a href="#">Operations &amp; Maintenance</a>
                      </li>

                    </ul>

                </div>
                <div class="col-sm-6 col-md-4">

                    <h5 class="bb-2px"><strong>Design Process</strong></h5>
                    <ul>

                      <li>
                        <a href="#">Integrative Process</a>
                      </li>
                      <li>
                        <a href="#">The Big Picture</a>
                      </li>
                      <li>
                        <a href="#">Social Equity</a>
                      </li>
                      <li>
                        <a href="#">Post-Occupancy</a>
                      </li>
                      <li>
                        <a href="#">Green Building Education</a>
                      </li>

                    </ul>

                </div>
                <div class="col-sm-6 col-md-4">

                    <h5 class="bb-2px"><strong>Codes &amp; Certifications</strong></h5>
                    <ul>

                      <li>
                        <a href="#">Policies &amp; Programs</a>
                      </li>
                      <li>
                        <a href="#">Living Building Challenge</a>
                      </li>
                      <li>
                        <a href="#">LEED</a>
                      </li>
                      <li>
                        <a href="#">WELL &amp; Fitwel</a>
                      </li>
                      <li>
                        <a href="#">Codes</a>
                      </li>
                      <li>
                        <a href="#">Other Ratings &amp; Standards</a>
                      </li>

                    </ul>

                </div>

              </div>

            </div>

          </li>

          <li><a href="about.html">About us</a></li>

          <li><a href="pdt.html">Product guidance</a></li>

          <li><a href="edu.html">Continuing education</a></li>

          <li><a href="#">Peer Networks</a></li>

          <li role="separator" class="divider visible-xs"></li>

          <li class="visible-xs"><a href="#">Pricing</a></li>

          <li class="visible-xs"><a href="#">Membership</a></li>

          <li class="visible-xs"><a href="#">Webinars</a></li>

          <li class="visible-xs"><a href="#">Exam Prep</a></li>

          <li class="visible-xs"><a href="#">Reports</a></li>

          <li class="visible-xs"><a href="#">Manufacturers</a></li>

          <li class="visible-xs"><a href="#">Archive</a></li>

          <li class="visible-xs"><a href="#">FAQs</a></li>

          
                          <li class="visible-xs">
              <a data-target="#login-modal" data-toggle="modal" href="#"><strong>LOGIN</strong></a>
            </li>
          
        </ul>

        <ul class="nav navbar-nav navbar-right hidden-xs">

            <li id="nav-search" class="dropdown p-static margin-right-2 margin-0-sm" data-animation="fadeIn">

              <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#" data-title="Search"><span class="visible-xs-inline-block visible-md-inline-block visible-lg-inline-block visible-xl-inline-block pr10">Search </span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></a>

               
              </div>

            </li>

          </ul>

      </div>

    </div>
  </nav>

</div>
<div class="outer-container">
<div class="outer">
<div class="main-container container-fluid">

<header role="banner" id="page-header">
  
        
</header> 

<div class="row">
      <section class="col-sm-12">
                <a id="main-content"></a>
      
                                                  <div class="region region-content">
  <section id="block-system-main" class="block block-system clearfix">

    
<div class="megapic">

<picture class="img-responsive">

  <source media="(min-width: 1800px)" srcset="pic/library_2100.jpg" />
  <source media="(min-width: 1440px)" srcset="pic/library_1800.jpg" />
  <source media="(min-width: 1200px)" srcset="pic/library_1440.jpg" />
  <source media="(min-width: 992px)" srcset="pic/library_1200.jpg" />
  <source media="(min-width: 768px)" srcset="pic/library_992.jpg" />
  <source media="(min-width:1px)" srcset="pic/library_768.jpg" />

  <img alt="" class="img-responsive" src="pic/consulting_1440.jpg" title="" />
</picture>

<div class="pictext">
  <h1 class="serif">Looking for healthy and sustainable building products?</h1>
  <h2>BuildingGreen’s got you covered.</h2>
</div>
</div>

<div class="wide-pad">
<p class="text-center font-size-xlarge"><em>Our independent team of editors has compiled more than 100 product guides, to show you what's important when selecting building products that avoid negative health impacts.</em></h3>
</div>

<hr class="hr-dotted">

<div class="magnify breathe">
<h2>ENHANCED PRODUCT GUIDES</h2>
<div class="row mb20">
  <div class="col-md-6">
    <p>We identified the most popular product categories and produced enhanced product guides, which provide extra detail on choosing sustainable products and materials for your project.</p>
    <div class="embed-responsive embed-responsive-16by9 mb10">
      <iframe src="https://player.vimeo.com/video/444317372" allowfullscreen frameborder="0"></iframe>
    </div>
  </div>
  <div class="col-md-3 guide-list">
    <p><a href="#">Blanket &amp; Batt Insulation</a></p>
    <p><a href="#">Blown Insulation</a></p>
    <p><a href="#">Board Insulation</a></p>
    <p><a href="#t">Broadloom Carpet</a></p>
    <p><a href="#">Ceiling Systems</a></p>
    <p><a href="#">Composting Toilet Systems</a></p>
    <p><a href="#">Engineered Wood</a></p>
    <p><a href="#">Faucets</a></p>
    <p><a href="#">Interior Paints</a></p>
    <p><a href="#">Interior Stains &amp; Clear Coatings</a></p>
    <p><a href="#">MDF & Particleboard</a></p>
  </div>
  <div class="col-md-3 guide-list"></div>
    <p><a href="#">Metal Coatings</a></p>
    <p><a href="#">Modular Carpet</a></p>
    <p><a href="#">Resilient Flooring</a></p>
    <p><a href="#">Showerheads</a></p>
    <p><a href="#">Solid Surfaces</a></p>
    <p><a href="#">Textiles</a></p>
    <p><a href="#">Tile</a></p>
    <p><a href="#">Toilets</a></p>
    <p><a href="#">Urinals</a></p>
    <p><a href="#">Wallboard</a></p>
    <p><a href="#">Wallcoverings</a></p>
  </div>

</div>
</div>

<hr class="hr-dotted">

<div class="magnify breathe all-guides">
<h2>Browse all 160 product guides by category:</h2>

<p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightning-charge-fill" viewBox="0 0 16 16">
  <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
</svg> Indicates enhanced product guide</p>

<div class="row">
  <div class="col-sm-6">

    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Appliances</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Electrical</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Exterior Finish & Trim</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Flooring & Floorcoverings</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Furnishings</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14;Interior Finish & Trim</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14;LEED and Editors' picks</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14;Mechanical Systems/HVAC</a></h4>
    
  </div>

  <div class="col-sm-6">
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14;Miscellaneous</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Paints & Coatings</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Plumbing</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Renewable Energy</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Roofing</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Sitework & Landscaping</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Structural Systems & Components</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14; Thermal & Moisture Protection</a></h4>
    <h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg> &emsp14;Windows & Doors</a></h4>
    
  </div>
</div>
</div>

<hr class="hr-dotted">

<div class="magnify breathe">

<h2>BuildingGreen Product Vetting services</h2>

<div class="row">
  <div class="col-sm-6">

    <p>If you just want answers without having to do all the research, <strong>check out our Product Vetting services</strong>. We’ve already done the work, so we know what to look for in every category (and what to watch out for). Save time and budget by hiring our product experts.</p>
    <a class="btn btn-lg btn-success" href="#">Learn more&nbsp;&raquo;</a>
  </div>
  <div class="col-sm-6 hidden-xs">
    <figure class="mt10">
      <a href="#"><img src="pic/Brent-Nadav-GB19.jpg" class="img-responsive"></a>
      <figcaption>Brent Ehrlich, our in-house Products &amp; Materials Specialist, unveils BuildingGreen's Top Ten Products with company president Nadav Malin at Greenbuild 2019.</figcaption>
    </figure>
  </div>
</div>
</div>

<hr class="hr-dotted">

<div class="magnify breathe">

<h2>Advice for Product Manufacturers</h2>

<div class="row">
  <div class="col-sm-7">

    <p>If you’re a product manufacturer looking to raise your profile in the sustainability marketplace, BuildingGreen can help. We know what’s needed for LEED, WELL, and Living Building Challenge, and our friends at SMS Collaborative can take you even further. Browse our online resources and learn how to serve this growing market segment.</p>
    <a class="btn btn-lg btn-success" href="#">Learn more&nbsp;&raquo;</a>
  </div>
  <div class="col-sm-5 hidden-xs">
    <figure class="mt10">
      <a href="#"><img src="pic/gears_800px.jpg" class="img-responsive"></a>
    </figure>
  </div>
</div>
</div>


<hr class="hr-dotted">

<div class="magnify breathe">

<h2>Find approved products on Designer Pages</h2>

<div class="row">
  <div class="col-md-7 col-md-push-5">

    <p>Our editors have evaluated thousands of building products—see them all on our partner site, Designer Pages.</p>

                      <p>Access to Designer Pages green product listings is available to BuildingGreen Premium members.</p>
        <a href="#" class="btn btn-wrap btn-lg btn-warning wide">See BuildingGreen membership options&nbsp;&raquo;</a>
        <p class="small text-center">Already a member? <a href="#" data-toggle="modal" data-target="#login-modal">Log into your account</a></p>
              
              
            

  </div>
  <div class="col-md-5 col-md-pull-7">
    <figure class="mt10">
      <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/290741550" allowfullscreen frameborder="0"></iframe>
      </div>
      <figcaption>Watch this brief (and delightful!) video to learn about our green product listings.</figcaption>
    </figure>
  </div>
</div>

<h4><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg> &emsp14; How to use Designer Pages</a></h4>

</section>
</div>
  </section>

  
</div>

</div>

</div>
<footer class="footer container-fluid">
  <div class="region region-footer">
  <section id="block-bg-content-bg-footer-block" class="block block-bg-content clearfix">

    
    <div class="row">
      <div class="col-sm-8">
    
          <a href="#" target="_blank"><img src="pic/2018-B-Corp-Logo_150h.png" class="img-responsive pull-left hidden-xs pr30 mb10 mt05" style=
          "max-height: 75px;"></a>
    
          <div style="overflow: hidden;">
              <ul class="list-inline" style="margin-left: 0;">
                                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">LEEDuser</a></li>
                  <li><a href="#">Jobs at BuildingGreen</a></li>
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Change Cookie Settings</a></li>
              </ul>
    
              <p class="small">&copy; 2021 BuildingGreen, Inc. All rights reserved except where noted.</p>
          </div>
      </div>

 

</section>
</div>
</footer>

  
<script src="https://www.buildinggreen.com/sites/default/files/js/js_7Ukqb3ierdBEL0eowfOKzTkNu-Le97OPm-UqTS5NENU.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_lcej-wnhkuKN7X2sAkXYDMoQiGnYWSLvXW93M0RAg4Y.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_MRdvkC2u4oGsp5wVxBG1pGV5NrCPW3mssHxIn6G9tGE.js"></script>
<img style="display: none;" src="/sites/all/themes/bg_boot/images/bg-logo_web-large.png">
<img style="display: none;" src="/sites/all/themes/bg_boot/images/bg-logo_square.png">
<script src="https://www.buildinggreen.com/sites/default/files/js/js_6_RPYL29Mx0EM31uRa4YYb0NF6Q7ZUG5yilzj24wLIk.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_VMWxpc_nIy5RQtsXIrqDL5I07fRIZu58KOlJz00LP5g.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_jbbNve4SeW8ouHVrUGHWp0dWMH3-Hlgksay5UPMsoTw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
<script>document.createElement( "picture" );</script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_lPy2_qEqwt0I2T3fFf2fUqc1_adWz9EVkvo416w3yjQ.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_PdhWNvWVThQ6mgDwBbGZbYWiOirdOM9lyc-p829KT-Y.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js_EmnVyaC7gQAjwydxYokClZ7LMgseWZfybDGktWCZ3Xw.js"></script>
<script src="https://www.buildinggreen.com/sites/default/files/js/js__JuFmti1OZYyBBidIUJvoDOZg81ze1_8XkKpzZ5SPsY.js"></script>
</body>
</html>
